Source: libpara
Section: libs
Priority: extra
Maintainer: Dominik Russenberger <dominik.russenberger@gmail.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.2
Homepage: https://github.com/dominikr/libpara
Vcs-Git: https://github.com/dominikr/libpara.git
Vcs-Browser: https://github.com/dominikr/libpara

Package: libpara
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: library for parallel shell programming
 libpara allows you to easily code parallel loops in shell
 Should work in any POSIX-compatible shell.
